body.noscroll {
    overflow: hidden;
}

.extra-section {
    margin: 5em 0 10em 0;
}

/* ------------------ Beatboards Slideshow ------------------ */

.beatboards-section {
    width: 100%;
    height: auto;
}

.beatboards-Cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5em;
}


.mySlides {
    display: none;
    line-height: 0;
    border-radius: 0.5em;
    border-width: 0.4em;
    border-style: solid;
    border-color: rgb(7, 7, 7);
}

.hidiaryboy-text {
    display: block;
    text-align: center;
    max-width: 24em;
    margin-bottom: 3em;
}

.slideshow-container {
    max-width: 48em;
    display: block;
}

.slideshow {
    display: flex;
    align-items: center;
}

/* Next & previous buttons */
.prev,
.next {
    margin: 0.4em;
    cursor: pointer;
    color: hsl(0, 0%, 88%);
    font-size: 3em;
    transition: 0.3s ease;
    user-select: none;
}

.prev:hover,
.next:hover {
    color: #969696;
}

/* The dot indicators */
.dotCont {
    margin-top: 1em;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0.25em 0.25em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {}
