* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #161616;
  color: hsl(0, 0%, 73%);
}

html {
  scroll-behavior: smooth;
}

/*---------------------------------------------*/


.gallery img {
  width: 100%;
  padding: 5px;
  border-radius: 1.1em;
  max-width: 400px;
  transition-duration: 0.2s;
}

img:hover {
  transform: scale(1.007);

}

.gallery {
  padding-top: 122px;
  display: inline-flex;

}


@media (max-width: 576px) {
  .gallery {
    flex-direction: column;
  }

  img {
    max-width: none;
  }
}

